* {
  box-sizing: border-box;
  margin:0;
  padding: 0;

}

body{
  /*background: linear-gradient(315deg, hsla(57, 98%, 50%, 1) 0%, hsla(325, 69%, 56%, 1) 100%);*/
  /*Abajo esta la segunda opcion de background*/
  /*background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);*/
  background:#111217;


font-family: 'Oswald', sans-serif;

}
a{
  /*color: #ffffff;*/
  color:#10baa8;
  text-decoration: none;

}

ul{
  list-style: none;
}
/*Suavizado del Scroll- Mas concretamente añadi esto para el deslize de contactos*/
html{
  scroll-behavior: smooth;
}
/*Editando el texto del Showcase Un poco*/
.ShowCase p {
  color: #ffffff;
  font-size: 30px;

}
/*El titulo del showcase*/
.ShowCase h2{
  color: #7fffd4;
  font-size: 100px;
}
.container{
  position: fixed;
  width: 100%;
  margin: auto;
  /*background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);*/
  background:#1b1c23;
  opacity: 0.9;
  padding-left: 370px;
  height:13%;
  padding-top: 10px;
}
/*aca ven editaaaaaaaa*/

.container .nav-menu a{
  padding-top: 100px;
}

.container-2{
  width: 90%;
  margin: auto;
  padding-top: 170px;
}

/* NAVIGATION */

.nav-main{
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 0;

}
.nav-main .nav-menu hr{
  margin-top: 10px;
}
/* Clase nav-main, edit alls <li> in the class */
.nav-main li{
  font-size: 30px;
}
.nav-brand{
  width: 50px;
}

/*NAV LEFT */
.nav-main ul{
  display: flex;
}

.nav-main ul li{
  padding: 30px;
}
.nav-main ul li a{
  padding: 2px;
}

.nav-main ul li a:hover{
  border-bottom: 2px solid #10baa8;
}

.nav-main ul.nav-menu{
  flex: 1;
  margin-left: 20px;
}

/*Ajustamos el tamaño del logo en el principal*/
.container .nav-main img{
  width: 75px;
  height: 75px;
}

/*Alterando nuestro boton Para acceder al menu(me refiero al boton de 3 rayitas)*/
.menu-btn{
  position: absolute;
  cursor: pointer;
  top:9px;
  right: 36px;
  z-index: 2;
  font-size: 2.0rem;
  display: none;
  color: #10baa8;
}
hr{
  margin: 10px 0;
}


/*SHOWCASE*/
.ShowCase{
  width: 100%;
  height: 900px;
  background: url('./img//ShowCase.jpg')no-repeat center center/cover;
  padding: 50px; /*Espacio para los elementos que despues coloquemos debajo*/
  margin-bottom: 20px; /*Esto sirve para dar un espaciado entre los News y el ShowCase(la imagen principal)*/
  display: flex; /*Para Centrar el Texto Que tenemos dentro*/
  flex-direction: column; /*Para Colocar el texto justo debajo y este centrado*/
  align-items: center;
  justify-content: flex-end;
  border-radius: 6px;
}

.btn{
  cursor: pointer; /*Para que se muestre como un boton*/
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 13px 23px;
  background: #262626;
  color: #000000;
  font-size: 15px;
  border: 1px solid #000000;
  margin: 10px 0;
  border-radius: 6px;
  font-size: 25px;
}
/*le añadimos al boton btn su clase hover para que parezca una especie de efecto
al posicionar el cursor*/
.btn:hover{
  opacity: .9;
}
.ShowCase h2,
.ShowCase p{
  margin-bottom: 10px;
}




/*---- Espacio NEWS CARDS---- Nota: Ordena el codigo y ponle comentarios(elimina esta nota cuando acabes)*/


.news-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns:repeat(4,1fr); /*Esto nos va a permitir crear columnas*/  /*Puedes escribirlo como repeat(4,1fr) o 1fr 1fr 1fr 1fr */
  gap: 25px; /*Esto hace que haya un espaciado entre cada columna*/
  margin: 70px 0;/*Añadimos un margen a las imagenes de 10px arriba a abajo y 0 hacia los lados*/
  flex: 1;


}
/*Aqui debajo editamos el tamaño de las imagenes de News*/
.news-cards div {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 290px;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
  cursor: pointer;
  transition: all 500ms ease-out;

}
.news-cards div img{
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.news-cards div h3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;


}
.news-cards div  a p {
  position: absolute;
  top: 0;
  width: 40%;
  height: 17%;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-left: 30%;
}



.news-cards div:hover > h3{
  opacity: 1;
  visibility: visible;
}

.news-cards div:hover > h3{
  margin-top: 65px;
  margin-bottom: 50px;
}
.news-cards div:hover > a p{
  margin-top: 210px;
  margin-bottom: 15px;
}


.news-cards div:hover > img{
  transform: scale(1.5);  /*Esto es para acercar un poco la imagen*/
  filter: blur(2px);   /*Este es para el efecto de desenfoque*/

}

.news-cards div h3{
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  font-size: 30px;
}
.news-cards div a p{
  color: #10baa8;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  font-size: 25px;
}
.news-cards div:hover > a p{
  opacity: 1;
  visibility: visible;
}


/*Editamos los <h3>, el h3 de news cards contiene los que dicen nuestras imagenes de noticias*/
/*.news-cards h3{
  font-size: 20px;
  margin: 10px 0;
}

/*CARDS BANNER ONE (ESTILIZANDO EL BANNER NUMERO UNO)*/
.cards-banner-one{
  width: 100%;
  height: 350px;
  background: url('./img/banner1.jpg') no-repeat center center/cover;
  margin-bottom: 40px;
}
.cards-banner-one h2{
  font-size: 55px;
}

.cards-banner-one .content{
  width: 50%;
  padding: 90px 0 0 30px;
  color: #ffffff;
}

.cards-banner-one h2{
  margin: 10px 0 20px 0;
}

/*CARDS BANNER TWO (ESTILIZANDO EL BANNER NUMERO DOS)*/
.cards-banner-two{
  width: 100%;
  height: 350px;
  background: url('./img/banner2.jpg') no-repeat center center/cover;
  margin-bottom: 50px;
}
.cards-banner-two .content{
  width: 50%;
  padding: 100px 0 0 30px;
  color: #ffffff;
}
.cards-banner-two h2{
  margin: 10px 0 20px 0;
}

.cards-banner-two h2{
  font-size: 55px;
}

/*SOCIAL*/
.social p{
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.links a{
  margin: 0 30px;
}
.links a i{
  font-size: 3rem;
  padding-bottom: 40px;
}
.boton-social{
  background: #1b1c23;
  width: 90px;
  height: 90px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #10baa8;
  overflow: hidden;
  position: relative;

}
.boton-social i{
  line-height: 95px;
  font-size: 10px;
  transition: 0.2s linear;

}
.boton-social:hover i{
  transform: scale(1.3);
  color: #1b1c23;
}
.boton-social::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #10baa8;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.boton-social:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left:-110%;
    top:90%;
  }
  50%{
    left: 10%;
    top:-30%;
  }
  100%{
    top:-10%;
    left: -10%;
  }

}

/*FOOTER LINKS*/

.footer-links{
  background: linear-gradient(to bottom right, #CEF34E, #18B0D6);
  color: 616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;

}
.footer-container ul{
  margin: 0 auto;
}

.footer-container ul li{
  line-height: 2.8;
}

.footer{
  background: #1b1c23;
  color: #616161;
  font-size: 29px;
  padding: 20px 0;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.Informacion-Sitio{

  color: #ffffff;
  background:#1b1c23;
  height: 130px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  font-size: 35px;
  border-radius: 6px;
  display: block;
  margin: auto;
}


/*De aqui abajo saque la info y el trucazo del display:grid*/
/*https://stackoverflow.com/questions/53050513/cant-get-flex-box-items-to-wrap-in-2-columns-set-up?noredirect=1&lq=1*/

/*1550*/

@media (max-width:1550px){

  /*El titulo del showcase para moviles*/
   .ShowCase h2{
    color: #7fffd4;
    font-size: 150px;
    text-align: center;
  }



  .container{
    padding-left: 0px;
    padding-right: 100px;
  }
}

/*1360*/

@media (max-width:1360px){
  .Informacion-Sitio{
    color: #ffffff;
    background:#1b1c23;
    height: 100px;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    font-size: 25px;
    border-radius: 6px;
    display: block;
    margin: auto;
  }
}

/*978*/

@media (max-width:978px){
  .Informacion-Sitio{
    color: #ffffff;
    background:#1b1c23;
    height: 95px;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    font-size: 20px;
    border-radius: 6px;
    display: block;
    margin: auto;
  }
}
@media (max-width:800px) {

  .container-2{
    width: 90%;
    margin: auto;
    padding-top: 180px;
  }

}

/*548*/

@media (max-width:548px){
  .Informacion-Sitio{
    color: #ffffff;
    background:#1b1c23;
    height: 90px;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    font-size: 15px;
    border-radius: 6px;
    display: block;
    margin: auto;
  }
}
/*1255*/
@media (max-device-width:1255px){

  /*El titulo del showcase para moviles*/
   .ShowCase h2{
    color: #7fffd4;
    font-size: 100px;
    text-align: center;
  }




  .nav-main img{
    margin-left: 35px;
  }
  .menu-btn {
    display: block;
    margin-right: 50px;
    font-size: 75px;
  }

  .container{
    padding-left: 10px;
  }

  .nav-main .menu-btn{
    transform: translateX(-10px);
    display: block;
  }

  .nav-main ul.nav-menu{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background:#1b1c23;
    width: 55%;
    height: 1500%;
    transform: translateX(-800px); /*Con esto ocultamos la barra de navegacion*/
    transition: transform .5s ease-in-out; /*Esto le da una transicion al codigo*/
    padding: -100px;
    opacity: .9;
  }
  .nav-main ul.nav-menu.show{
    transform: translateX(-20px);  /*Con esto mostramos la barra de navegacion*/

  }
  .nav-main ul.nav-menu li{
    padding: 20px;
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
  }
  .nav-main ul.nav-menu a{
    font-size: 80px;
    font-weight: bold;
  }
  .nav-main ul.nav-menu-right{
    margin-right: 40px;
  }
  .nav-main ul.nav-menu li a{
    color:#10baa8;
    font-weight: lighter;
  }
  .nav-main ul.nav-menu li a:hover{
    border-bottom: 2px solid #10baa8;
  }
  .footer-links .footer-container{
    grid-template-columns: repeat(2,1fr);
  }

}


/*700*/
@media (max-device-width:700px) {
/*Ajustamos la barra de navegacion*/
  .container{
    padding-left: 10px;
  }
  /*Ajustamos las 3 rayitas de la barra de navegacion*/
  .container .menu-btn{
    display: block;
  }

  .nav-main .menu-btn{
    transform: translateX(-10px);
    display: block;
  }
  .nav-main ul.nav-menu{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background:#1b1c23;
    width: 45%;
    height: 1500%;
    transform: translateX(-500px); /*Con esto ocultamos la barra de navegacion*/
    transition: transform .5s ease-in-out; /*Esto le da una transicion al codigo*/
    padding: -100px;
    opacity: .9;
  }
  .nav-main ul.nav-menu.show{
    transform: translateX(-20px);  /*Con esto mostramos la barra de navegacion*/

  }
  .nav-main ul.nav-menu li{
    padding: 20px;
    padding: 55px;
    font-size: 27px;
  }
  .nav-main ul.nav-menu-right{
    margin-right: 40px;
  }
  .nav-main ul.nav-menu li a{
    color: #10baa8;
    font-weight: lighter;
  }
  .nav-main ul.nav-menu li a:hover{
    border-bottom: 2px solid #10baa8;
  }
  .news-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
  }
  .news-cards div{
    width: 100%;
    height: 270px;
  }
  .cards-banner-one .content,
  .cards-banner-two .content
  {
    width: 80%;
  }
  .footer-links .footer-container{
    grid-template-columns: repeat(2,1fr);
  }
}
/*500*/
@media (max-device-width: 500px) {

  /*El titulo del showcase para moviles*/
  .ShowCase h2{
    color: #7fffd4;
    font-size: 100px;
    text-align: center;
  }

/*Editamos las newscards- para moviles*/
  .news-cards div h3{
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    font-size: 80px;
  }
  .news-cards div a p{
    cursor: none;
    color: #ffffff;
    font-weight: 400;
    transition: all 500ms ease-out;
    font-size: 55px;
    margin-left: 30%;
    padding-top: 150px;
    color: #10baa8
  }
  /*Editamos el boton de los 3 puntos para moviles*/
  .menu-btn {
    display: block;
    margin-right: 50px;
    font-size: 150px;
    margin-top: 29px;
  }
  /*Editamos el logo Lol para moviles*/
  .nav-main{
    width: 250px;
    height: 250px;
  }
  .container .nav-main  img{
    width: auto;
    height: auto;
    width: 200px;
    height: 200px;
  }
  /*Editamos el menu side bar para moviles*/

  .nav-main ul.nav-menu{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background:#1b1c23;
    width: 55%;
    height: 1500%;
    transform: translateX(-800px); /*Con esto ocultamos la barra de navegacion*/
    transition: transform .5s ease-in-out; /*Esto le da una transicion al codigo*/
    padding: -100px;
    opacity: .9;
  }
  .nav-main ul.nav-menu.show{
    transform: translateX(-20px);  /*Con esto mostramos la barra de navegacion*/

  }
  .nav-main ul.nav-menu li{
    padding: 20px;
    padding: 100px;
    font-size: 50px;
    font-weight: bold;
  }
  .nav-main ul.nav-menu a{
    font-size: 80px;
    font-weight: bold;
  }
  .nav-main ul.nav-menu-right{
    margin-right: 40px;
  }
  .nav-main ul.nav-menu li a{
    color: #10baa8;
    font-weight: lighter;
  }
  .nav-main ul.nav-menu li a:hover{
    border-bottom: 2px solid #10baa8;
  }

  .container-2{
    width: 90%;
    margin: auto;
    padding-top: 350px;
  }

  .news-cards{
    display:grid;
    grid-template-columns: 1fr;
  }
  .news-cards div{
    width: 100%;
    height: 500px;
  }

  .cards-banner-one .content,
  .cards-banner-two .content
  {
    width:100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container{
    grid-template-columns: 1fr;
  }

  .Informacion-Sitio{
    color: #ffffff;
    background:#1b1c23;
    height: 350px;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    font-size: 45px;
    border-radius: 6px;
    display: block;
    margin: auto;
  }

  .social p{
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color: #ffffff;
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .links a{
    margin: 0 30px;
  }
  .links a i{
    font-size: 3rem;
    padding-bottom: 40px;
  }
  .boton-social{
    background: #1b1c23;
    width: 90px;
    height: 90px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #10baa8;
    overflow: hidden;
    position: relative;

  }
  .boton-social i{
    line-height: 95px;
    font-size: 10px;
    transition: 0.2s linear;

  }
  .boton-social:hover i{
    transform: scale(1.3);
    color: #1b1c23;
  }
  .boton-social::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #10baa8;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .boton-social:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left:-110%;
      top:90%;
    }
    50%{
      left: 10%;
      top:-30%;
    }
    100%{
      top:-10%;
      left: -10%;
    }

  }

}
